@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Общие стили*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    z-index: -1;
}

main {
    margin-top: 80px;
}

:root {
    /* Your default theme */
    --background: #121A2E;
    --foreground: #E5E7EB;
    --white: #E5E7EB;
    --foregroundRGBA: 230, 232, 238;
    --foregroundGlassRGBA: 255, 255, 255;
    --description: #9CA3AF;
    --card: #141E37;
    --card-border: 120, 150, 255;
    --contacts: linear-gradient(136deg, rgba(0, 0, 0, 0.41) 0%, rgba(29, 28, 32, 0.2) 50%, rgba(31, 30, 33, 0.38) 97.8%);
    --contactsHover: linear-gradient(136deg, rgba(0, 0, 0, 0.5) 0%, rgba(29, 28, 32, 0.5) 50%, rgba(31, 30, 33, 0.38) 97.8%);
    --hover: #4A4B57;
    --hoverGlass: #4A4B57;
    --shadow: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e11 51%);
    --cardbg: rgba(15,23,42,0.8);
    --carditem: #60A5FA;
    --cardpost: #60A5FA;
    --footer: rgba(0, 0, 0, 0.2);
    --house-color: #1a3a75;
    --window-color: linear-gradient(to right, transparent 10%, transparent 90%, #333 90%), linear-gradient(to bottom, transparent 10%, #EEA624 10%, #EEA624 90%);
    --not-found: block;
    --placeholder: rgba(255, 255, 255, 0.5);

}

[data-theme='light'] {
    --background: #fff;
    --foreground: #0E0E11;
    --white: #fff;
    --foregroundRGBA: 0, 0, 0;
    /*--foregroundRGBA: 230, 232, 238;*/
    --foregroundGlassRGBA: 0, 0, 0;
    --description: #151414;
    --card: #E5E7EB;
    --contacts: linear-gradient(136deg, rgba(0, 0, 0, 0.9) 0%, rgba(29, 28, 32, 0.9) 50%, rgba(31, 30, 33, 0.9) 97.8%);
    --contactsHover: linear-gradient(136deg, rgba(0, 0, 0, 1) 0%, rgba(29, 28, 32, 1) 50%, rgba(31, 30, 33, 1) 97.8%);
    --hover: #d3d3d5;
    --hoverGlass: #ffffff;
    --shadow: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 51%);
    --cardbg: linear-gradient(136deg, rgba(0, 178, 255, 0.5) 0.01%, rgba(16, 181, 204, 0.5) 50%, rgba(0, 255, 240, 0.5) 97.8%);
    --carditem: #60A5FA;
    --cardpost: #fff;
    --footer: rgba(0, 0, 0, 0.08);
    --house-color: #1a689c;
    --window-color: linear-gradient(to right, transparent 10%, transparent 90%, #333 90%), linear-gradient(to bottom, transparent 10%, #aefef8 10%, #aefef8 90%);
    --not-found: none;
    --placeholder: rgba(0, 0, 0, 0.5);

}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
    display: none;
}

@media (max-width: 796px) {
    [data-burger="open"] [data-on-open-burger='header'] {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: var(--card);
        transition: all 0.3s;

    }

    [data-burger="open"] [data-on-open-burger='logo'] {
        position: absolute;
        top: 19px;
        left: 15px;
        transition: all 0.3s;
    }

    [data-burger="open"] [data-on-open-burger='nav'] {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    [data-burger="open"] [data-on-open-burger='nav-list'] {
        flex-direction: column;
        align-items: flex-start;
    }

    [data-burger="open"] [data-on-open-burger='dropdown-wrapper'] {
        position: relative;
        top: 0;
        left: 15px;
        padding-top: 0;
        margin-bottom: 15px;
    }

    [data-burger="open"] [data-on-open-burger='dropdown'] {
        display: block;
        background-color: transparent;
    }

    [data-burger="open"] [data-on-open-burger='theme'] {
        display: block;
        position: absolute;
        top: 15px;
        right: 60px;
    }
}


/* Стили для библиотек */


body {
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    align-items: flex-end;
    max-width: 1200px;
    width: 100%;

}

.swiper-slide {
    margin-top: auto;
    text-align: center;
}


.swiper-container {
    width: 480px;
}

@media screen and (min-width: 1024px) {
    .swiper-container {
        width: 1024px;
    }
}

@media screen and (min-width: 796px) {
    .swiper-container {
        width: 796px;
    }
}

@media screen and (min-width: 564px) {
    .swiper-container {
        width: 564px;
    }
}

@media screen and (min-width: 320px) {
    .swiper-container {
        width: 320px;
    }
}


.new-banner {
    margin-bottom: auto;
}

.not-found__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    min-height: 80vh;
}

.not-found__title {
    position: relative;
    font-weight: 700;
    font-size: 56px;
    line-height: 115%;
    letter-spacing: 0;
    text-align: center;
    background: linear-gradient(171deg, var(--foreground) 65%, rgba(255, 255, 255, 0.43) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
    transition: all 0.3s linear;
    z-index: 10;
}

.not-found__desc {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 165%;
    text-align: center;
    color: var(--description);
    margin-bottom: 40px;
    z-index: 10;
}

.not-found__link {
    text-decoration: none;
    color: #A970FF;
}

@media (max-width: 796px) {
    .not-found__title {
        font-size: 36px;
        margin-bottom: 15px;
    }

}

@media (max-width: 564px) {
    .not-found__content {
        padding: 0 15px;
    }

    .not-found__title {
        font-size: 28px;
    }

    .not-found__desc {
        font-size: 18px;
    }


}

#rc-editable-input-1 {
    background-color: #fff;
    color: #000;
}

#rc-editable-input-2 {
    background-color: #fff;
    color: #000;

}

#rc-editable-input-3 {
    background-color: #fff;
    color: #000;

}

#rc-editable-input-4 {
    background-color: #fff;
    color: #000;

}

#rc-editable-input-5 {
    background-color: #fff;
    color: #000;

}


@media print {
    body {
        margin: 0 !important;
    }
}

:root {
    --ck-content-font-family: 'Lato';
}

.main-container {
    font-family: var(--ck-content-font-family);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.editor-container_classic-editor .editor-container__editor {
    min-width: 795px;
    max-width: 795px;
}

.ck-content h3.category {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold;
    color: #555;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
}

.ck-content h2.document-title {
    font-family: 'Oswald';
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
}

.ck-content h3.document-subtitle {
    font-family: 'Oswald';
    font-size: 20px;
    color: #555;
    margin: 0 0 1em;
    font-weight: bold;
    padding: 0;
}

.ck-content p.info-box {
    --background-size: 30px;
    --background-color: #e91e63;
    padding: 1.2em 2em;
    border: 1px solid var(--background-color);
    background: linear-gradient(135deg, var(--background-color) 0%, var(--background-color) var(--background-size), transparent var(--background-size)),
    linear-gradient(
            135deg,
            transparent calc(100% - var(--background-size)),
            var(--background-color) calc(100% - var(--background-size)),
            var(--background-color)
    );
    border-radius: 10px;
    margin: 1.5em 2em;
    box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content span.marker {
    background: yellow;
}

.ck-content span.spoiler {
    background: #000;
    color: #000;
}

.ck-content span.spoiler:hover {
    background: #000;
    color: #fff;
}

.ck-content .button {
    display: inline-block;
    width: 260px;
    border-radius: 8px;
    margin: 0 auto;
    padding: 12px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.ck-content .button--green {
    background-color: #406b1e;
}

.ck-content .button--black {
    background-color: #141517;
}

.editor_container__word-count .ck-word-count {
    color: var(--foreground);
    display: flex;
    height: 30px;
    gap: var(--ck-spacing-small);
    justify-content: flex-end;
    font-size: var(--ck-font-size-base);
    line-height: var(--ck-line-height-base);
    font-family: var(--ck-font-face);
    padding: var(--ck-spacing-small) var(--ck-spacing-standard);
}

.editor-container_include-word-count.editor-container_classic-editor .editor_container__word-count {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.editor-container_include-word-count.editor-container_classic-editor .editor-container__editor .ck-editor .ck-editor__editable {
    border-radius: 0;
}


.ck-widget.raw-html-embed .raw-html-embed__source {
    color: #000;
}

.ck.ck-editor__editable pre code {
    color: #000
}
