.wrapper {
    margin-top: -100px;
    position: relative;

    width: min(1200px, 100vw);
    height: min(1200px, 100vw);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: visible;

}



.circleWrapper {
    position: relative;

    width: 1200px;
    height: 1200px;

    display: flex;
    justify-content: center;
    align-items: center;

    transform-origin: center center;
}


.themeImage {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 150px;
    height: 150px;

    transform: translate(-50%, -50%);

    z-index: 100;

    object-fit: contain;
}



/* планшеты */
@media (max-width: 1200px) {
    .circleWrapper {
        transform: scale(0.6);
    }
}

/* маленькие планшеты */
@media (max-width: 930px) {
    .circleWrapper {
        transform: scale(0.4);
    }

    .themeImage {
        width: 100px;
        height: 100px;
    }
}

/* телефоны */
@media (max-width: 630px) {
    .circleWrapper {
        transform: scale(0.25);
    }

    .themeImage {
        width: 60px;
        height: 60px;
    }
}

/* совсем маленькие */
@media (max-width: 420px) {
    .circleWrapper {
        transform: scale(0.18);
    }

    .themeImage {
        width: 40px;
        height: 40px;
    }
}

