.wrapper {
    margin-top: -100px;
    max-width: 1200px;
    max-height: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 1200px;
    height: 1200px;

}



.circleWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1200px;
}


.themeImage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 1s linear;
}





@media (max-width: 1200px) {
    .wrapper {
        width: auto;
        height: auto;

    }
    .themeImage {
        width: 100px;
        height: 100px;
    }
    .circleWrapper {
        height: 600px;
    }
}

@media (max-width: 630px) {
    .themeImage {
        width: 35px;
        height: 35px;
    }
    .circleWrapper {
        height: 350px;
    }
    .themeImage {
        top: -90px;

        transform: translate(-50%, 0);
    }
}