.projectSection {
    max-width: 1080px;
    margin: 40px auto 0 auto;
    border-radius: 15px;
    background-color: var(--card);
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.35);
    padding: 15px 43px 70px 43px ;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.projectTitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 158%;
    letter-spacing: 0.01em;
    color: var(--foreground);
    margin-bottom: 35px;
}