.btn {
    border: 1px solid rgba(var(--foregroundGlassRGBA), 0.05);
    border-radius: 32px;
    background-color: rgba(var(--foregroundGlassRGBA), 0.1);
    padding: 10px 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: var(--foreground);
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
    transition: all 0.3s;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--hover);
}