.upload {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 3px dashed rgba(var(--foregroundGlassRGBA), 0.15);
    border-radius: 15px;
    background: rgba(var(--foregroundGlassRGBA), 0.08);
    transition: background 0.1s linear;
}

.upload:hover {
    background: rgba(var(--foregroundGlassRGBA), 0.15);
}


.uploadTitle {
    letter-spacing: 0.01em;
    color: var(--white);
    font-weight: 700;
    font-size: 28px;
    line-height: 158%;
}

.uploadInput {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}


.uploadedImage {
    max-width: 1000px;
    width: 100%;
    object-fit: contain;
}

.uploadedDelete {
    display: flex;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 0;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 0;
}

.uploadedDelete:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--foreground);
    cursor: pointer;
    transition: all 0.3s;
}

.uploadedDelete:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--foreground);
    transition: all 0.3s;
    cursor: pointer;
}



.uploadedDelete:before {
    transform: rotate(-45deg) translate(-11px, 13px);

}

.uploadedDelete:after {
    transform: rotate(45deg);
}
