.adminSidebar {
    position: sticky;
    top: 15px;
    right: 0;
    margin-left: 15px;
    max-width: 271px;
    width: 100%;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.35);
    background: var(--card);
    height: max-content;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminSidebarTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 158%;
    letter-spacing: 0.01em;
    color: var(--foreground);
    padding: 7px;
    background: rgba(var(--foregroundRGBA), 0.08);
    width: max-content;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 32px;
    margin-bottom: 15px;
}

.adminSidebarList {
    list-style: none;
    text-overflow: ellipsis;
    width: 100%;
}

.adminSidebarItem {
    transition: all 0.3s;
    width: 100%;

}
.adminSidebarItem:hover {
    background-color: var(--hover);
}

.adminSidebarItem:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.adminSidebarName {
    font-weight: 700;
    font-size: 18px;
    line-height: 158%;
    letter-spacing: 0.01em;
    color: var(--foreground);
    text-align: center;
}

.adminSidebarLink {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: var(--foreground);
    padding: 13px 5px;

}

.sidebarOpen {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    z-index: 100;
    background-color: var(--card);
    border: 1px solid rgba(var(--foregroundRGBA), 0.08);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.sidebarOpen:hover {
    background-color: var(--hover);
}

.sidebarOpenIcon {
    object-fit: cover;
    width: 30px;
    height: 30px;
}



@media (max-width: 768px) {
    .adminSidebar {
        /*display: none;*/
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        max-width: none;
        top: 0;
        left: 0;
        padding-top: 100px;
        transform: translateX(-200%);
        transition: all 0.3s;
        z-index: 99;
    }
    .sidebarOpen {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.adminSidebarOpened {
    display: flex;
    transform: translateX(0);
}

