.page {
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.app {
    min-height: 100vh;
}

.adminMainWrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 120px auto;
    position: relative;
}
